{% if page.series %}
	{% capture title_series_prefix %}{{ page.series }}: {% endcapture %}
	<div class="notice series-summary {{ include.position }}">
		<h1 class="series-title">{{ page.series }}</h1>
		<ol class="posts-list">
		{% for post in site.posts reversed %}
			{% if post.series == page.series %}
				{% capture series_entry_title %}{{ post.title | remove: title_series_prefix | capitalize }}{% endcapture %}
				<li>
					{% if post == page %}
						{{ series_entry_title }}
					{% else %}
						<a href="{{ '/' | absolute_url }}{{ post.url | slugify }}">{{ series_entry_title }}</a>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
		</ol>
	</div>
{% endif %}